.body{
   background-color: rgb(255, 255, 255);
}
h1{
    text-align:center;
    justify-content: center;
    align-items: center;
    color:black;
}
.center-img img{
    height:70vh;
    width:150%;

}
.center-img{
    position:absolute;
    margin-top:140px;
    margin-left:150px;
}
.about-inner{
    background-color: rgba(121, 121, 121, 0.379);
    position:absolute;
    height:70vh;
    width:150%;
    box-shadow:0 0 3px 3px rgb(212, 211, 211);
}
.about-inner h1{
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:70px;
    margin-top:180px;

}
.about{
    position:absolute;
    margin-top:42%;
    text-align:left;
    padding:0px 150px;
}
.about h1{
    text-align:left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(35, 35, 35);
    margin-top:6%;
   
}
.about p{
    text-align:left;
    font-family:'Poppins' sans-serif;
    color:rgb(102, 101, 101);
    font-size:17px;
}
.about h4{
    position:absolute;
    text-align:left;
    font-family:'Poppins' sans-serif;
    color:rgb(102, 101, 101);
    font-size:17px;
    margin-top:2%;
    margin-left:0px;
}
.about hr{
    padding: 1px 100px;
    position:absolute;
    margin-top:-1%;
    margin-left:0px;
    background-color:rgba(26, 163, 5, 0.825);
}
.vision{
    position:absolute;
    margin-top:65%;
    text-align:left;
    padding:0px 150px;
}
.vision h1{
    text-align:left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(35, 35, 35);
    font-size:25px;
}
.vision p{
    text-align:left;
    font-family: 'Poppins' sans-serif;
    color:rgb(102,101, 101);
    font-size:17px;
}

.mision{
    position:absolute;
    margin-top:78%;
    text-align:left;
    padding:0px 150px;
}
.mision h1{
    text-align:left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(35, 35, 35);
    font-size:25px;
}
.mision p{
    text-align:left;
    font-family: 'Poppins', sans-serif;
    color:rgb(102, 101, 101);
    font-size:17px;
}
.more-info{
    position: absolute;
    margin-top:94%;
    text-align:left;
    padding:0px 150px;
}
.more-info p{
    text-align:left;
    font-family: 'Poppins', sans-serif;
    color:rgb(102, 101, 101);
    font-size:17px;
}

.contact_us{
    position:absolute;
    width:530px;
    height:70px;
    background-color: rgba(189, 230, 230, 0.317);
    margin-top:102%;
    margin-left:10%;
    margin-bottom:50px;
    
}
.contact_us:hover{
    box-shadow:0 0 3px 3px rgb(212, 211, 211);
    transform:translate(0.1em,0.1em);
}
.contact_us img{
   height:6vh;
   border-radius: 50%;
   margin-left:10%;
   margin-top:20px;
   box-shadow:0 0 3px 3px rgb(212, 211, 211);
   cursor:pointer;
}
.contact_us .h5_1{
   margin-top:-45px;
   margin-left:110px;
   font-size:15px;
   color:rgb(99, 99, 99);
   cursor:pointer;
}
.contact_us .h5_2{
    margin-top:-20px;
    margin-left:100px;
    font-size:15px;
    cursor:pointer;
 }
.email{
    position:absolute;
    width:550px;
    height:70px;
    background-color: rgba(189, 230, 230, 0.317);
    margin-top:102%;
    margin-left:50%;
    margin-bottom:50px;
    
}
.email:hover{
    box-shadow:0 0 3px 3px rgb(212, 211, 211);
    transform:translate(0.1em,0.1em);
}
.email img{
   height:6vh;
   border-radius: 50%;
   margin-left:10%;
   margin-top:20px;
   box-shadow:0 0 3px 3px rgb(212, 211, 211);
   cursor:pointer;
}
.email .h5_1{
    margin-top:-45px;
    margin-left:100px;
    font-size:15px;
    color:rgb(99, 99, 99);
    cursor:pointer;
 }
 .email .h5_2{
     margin-top:-20px;
     margin-left:100px;
     font-size:15px;
     cursor:pointer;
  }
